<div class="col-md-12 text-center">
<h3>Zapraszamy do skorzystania z wyceniarki projektu aplikacji</h3>
<p class="text-justify">
	Kreator wyceny przeprowadzi Państwa przez proces wyceniania projektu. Na każdym etapie jest możliwość zmiany wytycznych, a cena aktualizuje się na bierząco i będzie widoczna w prawym, gornym rogu ekranu. Na końcu procesu wyceniania będzie możliwość skontaktowania się w sprawie wycenionego projektu.
</p>
<a class="btn btn-success" routerLink="/wybor-projektu">Przejdź do pierwszego kroku</a>
</div>